body {
  min-width: 750px;
  padding: 0.5rem 1rem 1rem 1rem;
}

a {
    color: black;
    text-decoration: underline;
}


a:hover {
    color: black;
    text-decoration: underline;
}

a:visited {
    color:black;
    text-decoration: none;
}

#error-alert {
    display: none;
}

#invalid-host-alert {
    display: none;
}

#copy-to-clipboard-input {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

sp-action-menu {
    border: solid 1px #cacaca;
    background-color: #fafafa;
    border-radius: 3px;
    height: 30px;
}

sp-action-button, sp-action-menu {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.section {
    margin: 1rem 0;
}

.section .spectrum-Heading {
    margin-bottom: 0.25rem;
}

.status {
    display: flex;
    align-items: center;
}

.status .efficiency {
    padding-right: 1rem;
    border-right: solid 1px #ccc;
    position: relative;
    z-index: 10;
}

.status .efficiency.efficiency-loading sp-progress-bar {
    margin-top: .25rem;
    width: 125px;
}

.status .efficiency.efficiency-loaded .efficiency-tooltip-wrapper {
    display: none;
    position: absolute;
    top: 2rem;
    left: -100px;
}

.status .efficiency.efficiency-loaded:hover {
    cursor: help;
}

.status .efficiency.efficiency-loaded:hover .efficiency-tooltip-wrapper {
    display: block;
}

.status .efficiency .efficiency-tooltip-wrapper .spectrum-Tooltip {
    width: fit-content;
    max-inline-size: none;
    padding: 1rem 2rem;
    min-width: 250px;
}


.status .efficiency-tooltip-table {
    width: 250px;
    border: 0;
    border-collapse: collapse;
}

.status .efficiency-tooltip-table td {
    padding: .25rem .5rem;
}

.status .efficiency-tooltip-table tr td.value {
    text-align: right;
}

.status .efficiency-tooltip-table .expected-duration td {
    padding-bottom: .5rem;
}

.status .efficiency-tooltip-table .duration-difference {
    border-top: solid 1px #ccc;
}

.status .efficiency-tooltip-table .duration-difference td {
    padding-top: .5rem;
}

.status .metadata {
    padding-left: 1rem;
}

.thumbnail {
    max-height: 146px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-radius: 3px;
    box-shadow: 0 2px #fafafa;
}

.thumbnail--missing-on-cdn {
    display: none;
}

.thumbnail.thumbnail--missing-on-cdn,
.thumbnail.thumbnail--missing {
    background-color: #fafafa;
    border: dashed 2px #cacaca;
    width: 260px;
    height: 146px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #cacaca;
    font-size: 2rem;
    line-height: 100%;
    padding: 0 2rem;
    display: flex;
}

.thumbnail .thumbnail--missing-on-cdn-message {
    text-transform: uppercase;
    display: contents;
}

.thumbnail.thumbnail--missing-on-cdn {
    display: none;
    font-size: 2rem;
}

.thumbnail.thumbnail--image {
}

.tab-content { 
    display: none;
}

.tab-content[data-tab="1"] {
    display: block;
}

textarea.markdown {
    width: 100%;
    height: 23rem;
}

#popup-jira-story__markdown {
    height: 23rem;
}

textarea.community-post {
    width: 100%;
    height: 6rem;
}

.status {
    margin-top: 0;
    right: 1.5rem;
    position: absolute;
}

.metadata-error {
    background-color:#ffe7ec;
}

.metadata-error:hover {
    background-color: #fcd5de;
}

.metadata-notice {
    background-color: #feffe7;
}

.metadata-notice:hover {
    background-color: #f9fdbd;
}

hr {
    border-width: 0;
    border-bottom: solid 1px #ccc;
}

.hidden, .hide {
    display: none;
}

.loading {
    width: 100%; 
    height: 500px; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.scroll-down {
    display: none;
    color: #ccc;
    position: fixed;
    right: 12px;
    bottom: 6px;

    animation: bounce 2s 3;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 } 

 .video-analytics-title {
    margin-top: 2rem;
    border-top: solid 1px #ccc;
    padding-top: 1rem;
    margin-bottom: 1rem;
 }

.tables-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.tables-3 {
    display: grid;
    grid-template-columns: 1fr 2.5fr 2fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.tables-2 table, .tables-3 table {
    flex-grow: 0;
    align-self: flex-start;
}

.tables-3 .thumbnail {
    width: 100%;
    margin-top: 2rem;
}

.tables-3 .thumbnail-id {
    text-align: center;
    font-size: .9rem;
}


.slash { 
    margin: 0 0.5rem;
}

.playlist {
    display: block;
    margin: 1rem .5rem;
    padding-left: 0;

}


.playlist-empty {
    display: block;
    margin: 1rem .5rem 2rem .5rem;
    padding-left: 0;
    color: #999;
}

.playlist .playlist-item {
    display: grid;
    grid-template-columns: 1fr 2rem 2rem 2rem;
    gap: 1rem;
    margin-bottom: .5rem;
    border-bottom: solid 1px #ccc;
    padding-bottom: .5rem;
}

.playlist .playlist-item a {
    overflow: ellipsis;
    text-decoration: none;
}

.playlist .playlist-item a:hover {
    text-decoration: underline;
}

#metadata table tbody tr td:hover {
    cursor: copy;
}